# Lecture 9 - Pandas and For loops

In [1]:
# Setup
import pandas as pd

In [2]:
div_scores_dictionary = {"student_name": ["Jay", "Aaryan", "Sahil","Riya","Shubh"],
                         "math_scores": [20,56,76,78,90],
                         "chemistry_scores": [32,36,78,23,100],
                         "information_technology_scores": [34,6,88,100,45],
                         "physics_scores": [6,88,48,90,25]
                         }

In [3]:
div_emails_dictionary = {"student_name": ["Jay", "Aaryan", "Sahil","Riya","Shubh", "Abdul"],
                           "student_email": ["Jay@gmail.com", "Aaryan@gmail.com", "Sahil@gmail.com","Riya@gmail.com","Shubh@gmail.com", "Abdual@gmail.com"]
                         }

### Challenge (5 points): make a function called get_scores_df that:
- accepts a dictionary
- converts them into a df
- adds a total_scores coloumn
- adds an average_scores coloumn

In [4]:
def get_scores_df(scores_dic):
    report_card_df = pd.DataFrame(scores_dic)
    report_card_df["total_scores"] = report_card_df["math_scores"] + report_card_df["chemistry_scores"] + report_card_df["information_technology_scores"] + report_card_df["physics_scores"]
    report_card_df["average_scores"] = report_card_df["total_scores"]/4
    return report_card_df

In [5]:
div_scores = get_scores_df(div_scores_dictionary)
div_scores

,student_name,math_scores,chemistry_scores,information_technology_scores,physics_scores,total_scores,average_scores
0,Jay,20,32,34,6,92,23.00
1,Aaryan,56,36,6,88,186,46.50
2,Sahil,76,78,88,48,290,72.50
3,Riya,78,23,100,90,291,72.75
4,Shubh,90,100,45,25,260,65.00

In [6]:
def get_emails(emails_dict):
    emails_df = pd.DataFrame(emails_dict)
    emails_df["student_email"] = emails_df["student_email"].str.lower()
    return emails_df

In [7]:
div_emails = get_emails(div_emails_dictionary)
div_emails

  student_name     student_email
0          Jay     jay@gmail.com
1       Aaryan  aaryan@gmail.com
2        Sahil   sahil@gmail.com
3         Riya    riya@gmail.com
4        Shubh   shubh@gmail.com
5        Abdul  abdual@gmail.com

In [8]:
report_database = [
   {
      "class":10,
      "division":"A",
      "teacher":"Zoshua Colah",
      "scores":{
         "student_name":[
            "Jay",
            "Aaryan",
            "Sahil",
            "Riya",
            "Shubh"
         ],
         "math_scores":[
            20,
            56,
            76,
            78,
            90
         ],
         "chemistry_scores":[
            32,
            36,
            78,
            23,
            100
         ],
         "information_technology_scores":[
            34,
            6,
            88,
            100,
            45
         ],
         "physics_scores":[
            6,
            88,
            48,
            90,
            25
         ]
      },
      "emails":{
         "student_name":[
            "Jay",
            "Aaryan",
            "Sahil",
            "Riya",
            "Shubh",
            "Abdul"
         ],
         "student_email":[
            "Jay@gmail.com",
            "Aaryan@gmail.com",
            "Sahil@gmail.com",
            "Riya@gmail.com",
            "Shubh@gmail.com",
            "Abdual@gmail.com"
         ]
      }
   },
   {
      "class":10,
      "division":"B",
      "teacher":"Aayushi Shah",
      "scores":{
         "student_name":[
            "Jai",
            "Aryan",
            "Firoz",
            "Steve",
            "Rhea"
         ],
         "math_scores":[
            32,
            56,
            76,
            78,
            90
         ],
         "chemistry_scores":[
            32,
            56,
            75,
            23,
            10
         ],
         "information_technology_scores":[
            34,
            6,
            48,
            100,
            45
         ],
         "physics_scores":[
            6,
            88,
            58,
            90,
            25
         ]
      },
      "emails":{
         "student_name":[
            "Jai",
            "Aryan",
            "Firoz",
            "Steve",
            "Rhea"
         ],
         "student_email":[
            "Jai@gmail.com",
            "Aryan@gmail.com",
            "Firoz@gmail.com",
            "Steve@gmail.com",
            "Rhea@gmail.com"
         ]
      }
   },
   {
      "class":10,
      "division":"C",
      "teacher":"Rahul Joy",
      "scores":{
         "student_name":[
            "Kareena",
            "Alia",
            "Priyanka",
            "Shahrukh",
            "Salman"
         ],
         "math_scores":[
            22,
            56,
            76,
            78,
            90
         ],
         "chemistry_scores":[
            30,
            56,
            78,
            23,
            100
         ],
         "information_technology_scores":[
            34,
            6,
            98,
            100,
            40
         ],
         "physics_scores":[
            60,
            88,
            58,
            90,
            25
         ]
      },
      "emails":{
         "student_name":[
            "Kareena",
            "Alia",
            "Priyanka",
            "Shahrukh",
            "Salman"
         ],
         "student_email":[
            "Kareena@gmail.com",
            "Alia@gmail.com",
            "Priyanka@gmail.com",
            "Shahrukh@gmail.com",
            "Salman@gmail.com"
         ]
      }
   }
]

In [9]:
report_database

[{'class': 10,
  'division': 'A',
  'teacher': 'Zoshua Colah',
  'scores': {'student_name': ['Jay', 'Aaryan', 'Sahil', 'Riya', 'Shubh'],
   'math_scores': [20, 56, 76, 78, 90],
   'chemistry_scores': [32, 36, 78, 23, 100],
   'information_technology_scores': [34, 6, 88, 100, 45],
   'physics_scores': [6, 88, 48, 90, 25]},
  'emails': {'student_name': ['Jay',
    'Aaryan',
    'Sahil',
    'Riya',
    'Shubh',
    'Abdul'],
   'student_email': ['Jay@gmail.com',
    'Aaryan@gmail.com',
    'Sahil@gmail.com',
    'Riya@gmail.com',
    'Shubh@gmail.com',
    'Abdual@gmail.com']}},
 {'class': 10,
  'division': 'B',
  'teacher': 'Aayushi Shah',
  'scores': {'student_name': ['Jai', 'Aryan', 'Firoz', 'Steve', 'Rhea'],
   'math_scores': [32, 56, 76, 78, 90],
   'chemistry_scores': [32, 56, 75, 23, 10],
   'information_technology_scores': [34, 6, 48, 100, 45],
   'physics_scores': [6, 88, 58, 90, 25]},
  'emails': {'student_name': ['Jai', 'Aryan', 'Firoz', 'Steve', 'Rhea'],
   'student_email': ['Jai@gmail.com',
    'Aryan@gmail.com',
    'Firoz@gmail.com',
    'Steve@gmail.com',
    'Rhea@gmail.com']}},
 {'class': 10,
  'division': 'C',
  'teacher': 'Rahul Joy',
  'scores': {'student_name': ['Kareena',
    'Alia',
    'Priyanka',
    'Shahrukh',
    'Salman'],
   'math_scores': [22, 56, 76, 78, 90],
   'chemistry_scores': [30, 56, 78, 23, 100],
   'information_technology_scores': [34, 6, 98, 100, 40],
   'physics_scores': [60, 88, 58, 90, 25]},
  'emails': {'student_name': ['Kareena',
    'Alia',
    'Priyanka',
    'Shahrukh',
    'Salman'],
   'student_email': ['Kareena@gmail.com',
    'Alia@gmail.com',
    'Priyanka@gmail.com',
    'Shahrukh@gmail.com',
    'Salman@gmail.com']}}]

# List Traversal Function

In [31]:
def get_report_df(report_list):
    
         # Save an empty mega DF
        mega_report_df = pd.DataFrame()
         # For loop
         # For each Class Dictionary in the list:
        for division in report_list:
              # Make a scores DF
            scores_df = pd.DataFrame(division["scores"])
                # Make an Emails DF
            emails_df = pd.DataFrame(division["emails"])
            emails_df["student_email"] = emails_df["student_email"].str.lower()
                # Merge the two DF
            scores_and_emails_df = pd.merge(scores_df, emails_df, how = "left", on = ["student_name"])    
                # Add class 
            scores_and_emails_df["class"] = division["class"]
                # Add division 
            scores_and_emails_df["division"] = division["division"]
                # Add teacher
            scores_and_emails_df["teacher"] = division["teacher"]
                # Add it to the mega DF
            mega_report_df = pd.concat([mega_report_df, scores_and_emails_df], ignore_index = True)
        # Total and average scores    
        mega_report_df["total_scores"] = mega_report_df["math_scores"] + mega_report_df["information_technology_scores"] + mega_report_df["physics_scores"] + mega_report_df["chemistry_scores"]
        mega_report_df["average_scores"] = mega_report_df["total_scores"]/4
        # Status column
        mega_report_df.loc[(mega_report_df["average_scores"] < 40), "Status"] = "Fail"
        mega_report_df.loc[(mega_report_df["average_scores"] >= 40), "Status"] = "Pass"
        # Character grade
        mega_report_df.loc[(mega_report_df["average_scores"]>=90), "character_grade"] = "A"
        mega_report_df.loc[(mega_report_df["average_scores"]>=70) & (mega_report_df["average_scores"]<90), "character_grade"] = "B"
        mega_report_df.loc[(mega_report_df["average_scores"]>=50) & (mega_report_df["average_scores"]<70), "character_grade"] = "C"   
        mega_report_df.loc[(mega_report_df["average_scores"]>=40) & (mega_report_df["average_scores"]<50), "character_grade"] = "D"
        mega_report_df.loc[(mega_report_df["average_scores"]< 40), "character_grade"] = "F"       
    # Return the mega DF    
        return mega_report_df

In [32]:
get_report_df(report_database)

,student_name,math_scores,chemistry_scores,information_technology_scores,physics_scores,student_email,class,division,teacher,total_scores,average_scores,Status,character_grade
0,Jay,20,32,34,6,jay@gmail.com,10,A,Zoshua Colah,92,23.00,Fail,F
1,Aaryan,56,36,6,88,aaryan@gmail.com,10,A,Zoshua Colah,186,46.50,Pass,D
2,Sahil,76,78,88,48,sahil@gmail.com,10,A,Zoshua Colah,290,72.50,Pass,B
3,Riya,78,23,100,90,riya@gmail.com,10,A,Zoshua Colah,291,72.75,Pass,B
4,Shubh,90,100,45,25,shubh@gmail.com,10,A,Zoshua Colah,260,65.00,Pass,C
5,Jai,32,32,34,6,jai@gmail.com,10,B,Aayushi Shah,104,26.00,Fail,F
6,Aryan,56,56,6,88,aryan@gmail.com,10,B,Aayushi Shah,206,51.50,Pass,C
7,Firoz,76,75,48,58,firoz@gmail.com,10,B,Aayushi Shah,257,64.25,Pass,C
8,Steve,78,23,100,90,steve@gmail.com,10,B,Aayushi Shah,291,72.75,Pass,B
9,Rhea,90,10,45,25,rhea@gmail.com,10,B,Aayushi Shah,170,42.50,Pass,D
10,Kareena,22,30,34,60,kareena@gmail.com,10,C,Rahul Joy,146,36.50,Fail,F
11,Alia,56,56,6,88,alia@gmail.com,10,C,Rahul Joy,206,51.50,Pass,C
12,Priyanka,76,78,98,58,priyanka@gmail.com,10,C,Rahul Joy,310,77.50,Pass,B
13,Shahrukh,78,23,100,90,shahrukh@gmail.com,10,C,Rahul Joy,291,72.75,Pass,B
14,Salman,90,100,40,25,salman@gmail.com,10,C,Rahul Joy,255,63.75,Pass,C